@import '../../theme.scss';

.hero {
  position: sticky;
  top: 0;
  padding: 4rem 1rem;
  background: $color-primary;
  z-index: 1;

  &__inner {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: $color-light;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 100%;
    }
  }
}