.component {
	padding: 0 25px;
}

.wrapper {
	margin: auto;
	max-width: 1200px;
	display: grid;
	gap: 50px;
	align-items: center;

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		gap: 100px;
	}
}

.image {
	width: 100%;
	height: 0;
	padding-top: 64%;
	position: relative;
	border-radius: 20px;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.content {
	display: grid;
	gap: 5px;
	align-items: start;

	h2 {
		margin: 0;
		padding: 0;
		font-size: var(--font-size-h2);
		font-weight: 900;
	}
}

.description {
	font-size: var(--font-size-body);
	display: grid;
	gap: 15px;

	p {
		text-wrap: pretty;
	}
}
