.page {
	/* background: var(--colors-dark); */
}

.main {
	video {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		z-index: -1;
		object-fit: cover;
		inset: 0;
	}
}

.content {
	position: relative;
	animation: component-fade-in 1s ease forwards;
	animation-delay: 1s;

	> * {
		padding-bottom: 100px !important;
	}

	&::after {
		display: block;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% - calc(var(--font-size-h5) + 20px + 75px));
		background: var(--colors-dark);
		z-index: -1;
	}
}

@keyframes component-fade-in {
	from {
		margin-top: 0;
	}
	to {
		margin-top: calc(calc(var(--font-size-h5) + 20px + 75px) * -1);
	}
}
