@import '../../theme.scss';

.resources {
  &__featured {
    padding-bottom: 1rem;
    
    .card {
      height: 200px;
      color: $color-light;

      &__content {
        display: flex;
        height: 100%;
        align-items: flex-end;
      }

      h2 {
        font-size: 1.35rem;
        max-width: 275px;
        text-shadow: 0 0 10px rgba(0, 0, 0, .5);
      }

      a {
        color: inherit;
        text-decoration: none;
        outline: none;

        &::after{
          cursor: pointer;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  &__all {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding: 0;

    .card {
      height: 100px;
      color: $color-light;

      &__content {
        display: flex;
        height: 100%;
        align-items: flex-end;
      }

      h2 {
        font-size: 1.1rem;
        max-width: 275px;
        text-shadow: 0 0 10px rgba(0, 0, 0, .5);
      }

      a {
        color: inherit;
        text-decoration: none;
        outline: none;

        &::after{
          cursor: pointer;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}